header {
    background-image: url("b1.jpg");
    color:black;
    text-decoration: double;
    text-align: center;
    padding: 1em 0;
}
header h1 {
    font-size: larger;
}
body
{
    background-image: url("bpp.jpg");
    background-attachment: scroll;
    background-size: cover;
}
.vision {
    background-color:black;
    margin-bottom: 35px;
    padding: 2em;
    border-radius: 10px;
}

.about-content {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
    padding: 2em;
    border-radius: 10px;
}
